@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: rgb(42,0,180);
  background: linear-gradient(0deg, rgba(42,0,180,1) 0%, rgba(0,0,0,1) 100%);
}
.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 300px;
  width: 300px;
  box-shadow: 4px 4px 15px 10px rgba(8, 10, 37, 0.37);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  justify-content:center;
  align-items: center;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
  margin-top: 3rem;
  text-align: center;
  color: white;
  font-weight: 600;
}

h2 {
  color: rgb(255, 249, 249);
  font-weight: 500;
  font-size: 2rem;
}

